
/* TODO: Make this work better. Breaks on mobile */
.form-table th,
.form-table td {
	padding-top: 0;
	padding-bottom: 0;
	width: auto;
}

.form-table td input[type="text"] {
	width: 100%;
}

.submit {
	margin: 0 !important;
	padding-top: 2px;
}

form h3 {
	display: none;
}

table td,
table th {
	padding: 0 10px;
}

.form-table td {
	height: 29px;
}

#permissions th:first-child {
	text-align: left;
	padding-left: 0;
}

#permissions td {
	text-align: center;
}
