
/* === List === */
.wrap {
	padding-right: 20px;
}

.wrap li {
	width: 100%;
	border-top: 1px solid lightgray;
	border-left: 4px solid lightblue;
	padding: 0.25em 0.5em;
}

/* === Metric Block === */
.metric {
	position: relative;
	clear: both;
	max-width: 100%;
}

.metric label {
	white-space: nowrap;
}

.metric .title {
	float: left;
	margin-right: 0.5em;
}

.metric .actions {
	float: left;
	margin-top: 0.25em;
}

.metric .column {
	float: left;
	margin-bottom: 0.5em;
	padding-right: 0.5em;
}

.metric summary {
	font-size: 80%;
}

.info {
	cursor: help;
}
