
.form-table th,
.form-table td {
	padding-top: 0;
	padding-bottom: 0;
	width: auto;
}

.form-table td input {
	width: 100%;
}

.submit {
	margin: 0 !important;
	padding-top: 2px;
}

form h3 {
	display: none;
}