
/* === Form Table === */
.form-table th,
.form-table td {
	padding-top: 0;
	padding-bottom: 0;
	width: auto;
}

.form-table td input[type="text"] {
	width: 100%;
}

/* === Permissions Table === */
#permissions th:first-child {
	text-align: left;
	padding-left: 0;
}

#permissions td {
	text-align: center;
}

/* === Mobile Adjustments === */
@media screen and (max-width: 480px) {
	.eval-desktop-only {
		display: none;
	}

	#permissions td {
		text-align: left;
		padding-left: 1em;
	}

	#permissions {
		margin-left: 1em;
	}
}

@media screen and (min-width: 480px) {
	.eval-mobile-only {
		display: none;
	}
}
