
form {
	border-bottom: 4px solid lightgray;
	margin-bottom: 1em;
	position: relative;
	clear: both;
	max-width: 100%;
}

form label {
	white-space: nowrap;
}

form .title {
	float: left;
	margin-right: 0.5em;
}

form .actions {
	float: left;
}

form .column {
	float: left;
	margin-bottom: 0.5em;
	padding-right: 0.5em;
}

form summary {
	font-size: 80%;
}
